.background-image {
    background-image: url('images/bgwallpaper.jpg'); /* Adjust the path as necessary */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: calc(100vh - 60px); 
}